.tab{
    margin-top: 140px;
    width:1500px;
    margin-left:100px;
    
}
.emp{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY0ohyYtyqBwTrD84ir_xEYSWjoNFhAGOwL1us1ejFPvFfl3OJYJRADcL4r1Wjdy7GEDE&usqp=CAU");
    background-size: contain;
   
    background-repeat: no-repeat;
   
    margin-top: 20px;
   ;
    padding-top: 70px;
    padding-left: 10px;
    text-align: center;
    height: 300px;
    color: black;
    width: 300px;
    
    font-size: 30px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
   
    border-radius: 15px;

}
.progress-bar1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 89%, transparent 80% 100%),
      conic-gradient(rgb(105, 140, 255) 80%, lightgrey 0);    
  }
  .progress-bar2 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 89%, transparent 80% 100%),
      conic-gradient(rgb(173, 255, 105) 60%, lightgrey 0);    
  }
  .progress-bar3 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 89%, transparent 80% 100%),
      conic-gradient(rgb(255, 105, 105) 20%, lightgrey 0);    
  }
  

  .projprog{
    margin-top: 200px;
    margin-left: 100px;
    
   display: flex;
  }