.handbook{
    
        background: url("https://www.pngkit.com/png/detail/36-363754_bull-mission-logo.png");
      background-size: contain;
      
      background-repeat: no-repeat;
      margin-top: 100px;
      margin-bottom: -771px;
      margin-left:200px;
      height: 820px;
      text-align: justify;
      padding: 20px;
      
      padding-top: 50px;
      text-decoration: none;
      width: 270px;
      
      font-weight: 400;
      font-size: px;
      font-family: 'Fira Sans', sans-serif;
      color:black;
      box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
     
      border-radius: 15px;
    
    }
    .handbook2{
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNPIkhrF7jr_99MaWXTjsTQ6Fnqj5uN36WEbm97GM00lGY98273GW7rAtHuiDdOY9HMnU&usqp=CAU");
        background-size: contain;
        
        background-repeat: no-repeat;
        margin-top: -820px;
       
        
        margin-left:500px;
        height: 820px;
        text-align: justify;
        padding: 20px;
        
        padding-top: 50px;
        text-decoration: none;
        width: 270px;
        
        font-weight: 400;
        font-size: px;
        font-family: 'Fira Sans', sans-serif;
        color:black;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
       
        border-radius: 15px;

    }
    .hbook3{
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaBZfBojjnKaqiOygOvvWvOOZ-y2vk_2pxjyc8oM82pvtxndRKkAyyGkP4xE6yuKhoc2A&usqp=CAU");
        background-size: contain;
        
        background-repeat: no-repeat;
        margin-top: -820px;
       
        
        margin-left:800px;
        height: 820px;
        text-align: justify;
        padding: 20px;
        
        padding-top: 50px;
        text-decoration: none;
        width: 270px;
        
        font-weight: 400;
        font-size: px;
        font-family: 'Fira Sans', sans-serif;
        color:black;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
       
        border-radius: 15px;

    }
    .hbook4{
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUNT_pIHPNaCPBHxW0w0APrBQy8FK0qQtjsiTqX21YavdTBsE9H8hZ48I9OOeYtW9Wrwo&usqp=CAU");
        background-size: contain;
        
        background-repeat: no-repeat;
        margin-top: -820px;
       
        
        margin-left:1100px;
        height: 820px;
        text-align: justify;
        padding: 20px;
        
        padding-top: 50px;
        text-decoration: none;
        width: 270px;
        
        font-weight: 400;
        font-size: px;
        font-family: 'Fira Sans', sans-serif;
        color:black;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
       
        border-radius: 15px;

    }

